<section class="w-content" ng-controller="decrid" id="contentArea">
    <div deckgrid class="deckgrid" source="contentBlock"
         cardTemplateString=
         "<div class='deckgrid-block content-block' ng-controller='expandable'>
            <h1>{{card.id}}</h1>
            <p>{{card.name}}</p>
            <p><img class='pure-img photo' src='{{card.src}}'/></p>
            <p ng-click='expandMe();'><a href='javascript:'>展开更多</a></p>
            <p data-ng-hide='hideMore'>阿斯顿发送到发送到发送到发送到发斯蒂芬啊飒飒的发士大夫阿斯蒂芬阿斯达阿斯顿发生地方撒地方三大仿盛大分萨顿仿盛大阿阿斯顿</p>
         </div>">
    </div>
</section>