<header id="pageTopMenu">
    <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
            <li ng-hide="showSideBar" ng-show="!showSideBar" ng-click="toggleSideBar();"><a href="javascript:"><i class="fa fa-bars fa-rotate-90"></i></a></li>
            <li class="pure-menu-selected"><a href="#/">首页</a></li>
            <li><a href="#/chart">行情</a></li>
            <li><a href="#">数据</a></li>
            <li><a href="#">聊天室</a></li>
            <li><a href="#">商店</a></li>
            <li class="pull-right"><a href="#" class="right-icon"><i class="fa fa-sign-in"></i></a></li>
            <li class="pull-right"><a href="#" class="right-icon"><i class="fa fa-user"></i></a></li>
        </ul>
    </div>
</header>